body, html {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: roboto, verdana, arial, sans-serif;
  background-color: #fff;
  color: #24292f;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a {
  color:#0969da;
}
.container {
  position: relative;
  margin: 0 15px;
}
.page-header {
  padding:20px;
  background-color: #f6f8fa;
}
.page-footer {
  padding:20px;
  background-color: #24292f;
}
div[data-list="competitors"] {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.competitor {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.competitor[data-status="started"] {
  order: 1000;
  transition: .3s order;
}
.competitor span {
  flex-basis: 20%;
}
.competitor button {
  width: 36px;
}
@media screen and (min-width: 1200px){
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
}
