body, html {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: arial, roboto, verdana, sans-serif;
  background-color: #fff;
  color: #24292f;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a {
  color:#0969da;
}
.container {
  position: relative;
  margin: 0 15px;
}
.wrap-menu-top {
  background-color: #333;
  color: #fff;
  position: relative;
}
.page-header {
  padding: 0;
  background-color: #f6f8fa;
}
.page-footer {
  padding:20px;
  background-color: #24292f;
}
div[data-list="competitors"] {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
div[data-list="competitors"] .competitor {
  padding:8px 2px;
  display: flex;
  justify-content: space-between;
  transition: 1s order linear .75s;
  transition: 1s background-color ease 1s;
  background-color: transparent;
}
div[data-list="competitors"] .competitor.pulled-top {
  transition: .3s background-color ease 0s;
  background-color: #ffff99;
  box-shadow: 0 0 1px 1px #0969da;
}
div[data-list="competitors"] .competitor[data-status="started"] {
  order: 1000;
  
}

div[data-list="competitors"] .competitor span {
  flex-basis: 12%;
}
div[data-list="competitors"] .competitor span.crew{
  flex-basis: 40%;
}
button[data-role] {
  min-width: 36px;
  min-height: 36px;
}
button[data-role] + button[data-role] {
  margin-left: 1rem;
}
div[data-list="competitors"] .competitor button {
  width: 36px;
}
div[data-list="sailors"] .sailor {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
div[data-list="sailors"] .sailor span {
  flex-basis: 28%;
}
div[data-list="sailors"] .sailor span.birthdate {
  display: none;
}
div[data-list="sailors"] .sailor span.actions {
  flex-basis: 94px;
  text-align: right;
  white-space: nowrap
}
.field-group {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.field-group label {
  flex-basis: 40%;
}
.field-group input, .field-group select {
  font-size: 1.1rem;
  flex-basis: 60%;
}
.field-group input[type="date"] {
  width: 100%; 
}
/* POP CONFIRM */

.confirm .confirm-question {
  font-size: 18px;
  margin-bottom: 1rem;
}
.confirm .confirm-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.confirm .confirm-buttons button {
  padding: 4px 8px;
  min-width: 60px;
}
/* POPUP */
.popup-fixed {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.popup-fixed .popup-content {
  background-color: #fff;
  padding: 15px;
}
.popup-fixed .popup-header {
  display: flex;
  justify-content: flex-end;
  background-color: #333;
}

.popup-fixed .popup-header > .btn-close{
  position: relative;
  display: block;
  padding: 5px;
  margin-right: 5px;
  color: #fff;
  cursor: pointer;
}

.popup-fixed.hidden {
  display: none;
  z-index: -1;
}
#global-nav {
  padding: .6rem 0;
  min-height: 42px;
}
#global-nav .toggle-menu {
  width: 40px;
  height: 40px;
  float: right;
  display: block;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 0;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .5); 
}
#global-nav .toggle-menu:before{
  display: block;
  width: 40px;
  height: 40px;
  font-size: 40px;
  content: '\01d118';
  text-align: center;
  line-height: 1;
}
#global-nav .toggle-menu.opened:before {
  content: '\01f5d9';
  font-size: 30px;
  line-height: 1.2;
}
#global-nav > ul {
  padding: 0;
  margin: 0;
  display: none;
  transition: .5s transform ease .75s;
  transform: translateX( -100% );
  
}
#global-nav > ul[aria-expanded=""]{
  
  transform: translateX( -100% );
}
#global-nav > ul[aria-expanded="true"]{
  display: block;
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #4d4d4d;
  padding: 15px;
  margin: 0 -15px;
  transition: .5s transform ease .75s;
  transform: translateX( 0% );
}
#global-nav > ul li {
  display: block;
  margin-bottom: .6rem
}
#global-nav > ul li a {
  color: #fff;
  cursor: pointer;
  width: 100%;
  display: block;
  margin-bottom: .6rem
}

@media screen and (min-width:768px) {
  #global-nav .toggle-menu {
    display: none;
  }
  #global-nav > ul[aria-expanded=""]{
    display: flex;
  }
  #global-nav > ul {
    display: flex;
    flex-direction: row;
    column-gap: .5rem;
    justify-content: space-between;
  }
  #global-nav > ul li {
    display: flex;
    flex-basis: 16%;
  }
  #global-nav > ul li a {
    padding: 4px 8px;
    border: 1px solid rgba(255, 255, 255, .5);
    margin-bottom: 0;
    transition: .3s background-color ease;
    text-align: center;
  }
  #global-nav > ul li a:hover{
    background-color: #fff;
    color:#333;
    font-weight: bold;
  }
  div[data-list="sailors"] .sailor span.birthdate {
    display: block;
  }
}

@media screen and (min-width: 1200px){
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
  #global-nav > ul li {
    flex-basis: 13%;
  }
  .popup-fixed {
    padding-left: calc(50vw - 600px);
    padding-right: calc(50vw - 600px);
  }
}
